<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔑</text></svg>" />
  <title>Password Manager</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/globals.css" />
  <link rel="stylesheet" href="/styles/index.css" />

  <script type="module" src="/js/index.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
  <div id="app">
    <header class="header">
      <div class="header__logo">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </div>
      <div class="header__profile">
        <img src="/media/natmfat.png" />
      </div>
    </header>

    <main>
      <!-- https://icons.duckduckgo.com/ip3/google.com.ico -->
      <div class="input">
        <input placeholder="Search" type="text" />
        <ion-icon name="search-outline"></ion-icon>
      </div>

      <div class="clearfix">
        <button class="button button-right" id="add-password">
          <ion-icon name="add-circle-outline"></ion-icon>
          Add Password
        </button>
      </div>

      <!-- prettier-ignore -->
      <% from urllib.parse import urlparse %>
      <% parse = lambda x : urlparse(x).netloc %>

      <div class="passwords">
        % for ( key, url, username, password ) in passwords:
        <div class="password" data-id="{{key}}" data-url="{{url}}" data-username="{{username}}">
          <div class="password__details">
            <img src="https://www.google.com/s2/favicons?domain={{parse(url)}}&sz=32" loading="lazy" />
            <div>
              <h1>{{parse(url)}}</h1>
              <p>{{username}}</p>
            </div>
          </div>

          <div class="password__icons">
            <div class="password__delete icon">
              <ion-icon name="trash-outline"></ion-icon>
            </div>
            <div class="password__edit icon">
              <ion-icon name="cog-outline"></ion-icon>
            </div>
            <div class="password__copy icon">
              <ion-icon name="copy-outline"></ion-icon>
            </div>
          </div>
        </div>
        % end
      </div>
    </main>

    <footer class="footer">@natmfat</footer>
  </div>
</body>

</html>