:root {
  --app-width: 30rem;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

#app {
  max-width: var(--app-width);
  margin: 0 auto;
}

/* Input component */
.input-single {
  border: 1px solid #eee;
  outline: none;
  padding: 0.75rem 1rem;
  border-radius: 10rem;
  width: 100%;
  font-size: 100%;
  font-family: "Inter", sans-serif;
}

.input-margin {
  margin: 0.75rem 0 0 0;
}

.input {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #eee;
  padding: 0.75rem 1rem;
  border-radius: 10rem;
}

.input input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: "Inter", sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Button component */
.button {
  background-color: #eee;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 1rem 0 0 0;
  min-width: 6rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  transition: filter 200ms ease-in-out;
}

.button:hover {
  filter: brightness(0.95);
}

.button-right {
  float: right;
}

.button-margin {
  margin: 0.75rem 0 0 0;
}

/* Toast component */
.toasts {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  padding: 0.75rem;
}

.toast {
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  padding: 0.75rem;
  width: 15rem;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
